:root {
  --primary: #00d1c9;
  --black: #000;
  --white: #fff;

  /* Font Sizes */
  --h1: 48px;
  --h2: 34px;
  --h3: 24px;
  --h4: 20px;
  --body: 20px;
}

/* Font */

@font-face {
  font-family: ReplicaLL;
  src: url('/fonts/ReplicaLL-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: ReplicaLL;
  src: url('/fonts/ReplicaLL-Bold.otf');
  font-weight: 700;
}

html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: ReplicaLL;
}

.times {
  /* font-family: 'Times New Roman', Times, serif; */
}

h1 {
  font-size: var(--h1);
  margin: 14px 0;
  font-weight: 500;
}
h2 {
  font-size: var(--h2);
  margin: 0;
  font-weight: 500;
}
h3 {
  font-size: var(--h3);
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}
h4 {
  font-size: var(--h4);
  margin: 0;
  font-weight: 700;
  margin-top: 5px;
}
p {
  font-size: var(--body);
  line-height: 1.4;
  margin: 0;
}

h3 p{
  font-size: var(--h3);
}

a{
  text-decoration: none;
  color: var(--black);
}

p a{
  text-decoration: underline;
}

input:focus, textarea:focus {
    outline: none;
}

.big {
  font-size: 4vw;
  line-height: 1;
  & a {
    font-size: 4vw;
    line-height: 1.4;
    margin: 10px;
  }
}

.tag{
  text-transform: uppercase;
}

.text-block{
  & p{
    margin: 14px 0;
  }
}

.floating-img{
  position: absolute;
  left: 3vw;
  width: 13vw;
  z-index: 2;
  top: 100px;
  &.oestre{
    top: 250px;
    left: 33vw;
    width: 18vw;
  }
  &.about{
    top: 350px;
    left: 6vw;
  }
  &.festival-icon{
    width: 25vw;
    left: 0;
    top: 200px;
  }
}

.underline{
  border-bottom: 1px solid black;
  margin-top: 12px;
}

.outer-text{
  position: absolute;
  /* left: 42vw; */
  left: -10vw;
  top: 10px;
  white-space: nowrap;
  transform: rotate(90deg) translate(50%, -50%);
  height: 0px;
  width: 100px;
  overflow: visible;
  &.margin-top{
    top: calc(80px + 14vw);
  }
}

.announcement{
  background-color: var(--primary);
  width: 100vw;
  position: absolute;
  left: -13.5vw;
  color: var(--white);
  font-size: var(--h1);
  text-align: center;
  z-index: 1;
  top: 50%;
  height: 65px;
  transform: translateY(-50%);
  padding: 1vw 0;
	position: relative;
	overflow: hidden;
	& .marquee__inner {
		position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
    & div{
      display: inline-block;
      margin: 0 24px;
    }
	}
  & a, & p{
    color: var(--black);
    font-size: var(--h1);
    text-decoration: none;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* Grid Sizes */
.w1 {
  grid-column-end: span 1;
}
.w2 {
  grid-column-end: span 2;
  position: relative;
  /* & .big {
    font-size: 48px;
    & a {
      font-size: 48px;
    }
  } */
}
.w3 {
  grid-column-end: span 3;
  position: relative;
  & .header-img{
    height: 28vw;
    width: 45vw;
    &.artist{
      height: 35vw;
    }
  }
}
.w4 {
  grid-column-end: span 4;
  & .w3{
    & .big {
      font-size: 48px;
    }
  }
  & .header-img{
    height: 30vw;
    width: 47vw;
  }
}
.w4.inner {
  grid-column-end: span 4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14%, 6fr));
  grid-gap: 1vw;
  grid-auto-rows: repeat(auto-fill, minmax(9%, 6fr));
  & .w3{
    & .big {
      font-size: 48px;
    }
  }
  & .header-img{
    height: 30vw;
    width: 47vw;
  }
}
.w5 {
  grid-column-end: span 5;
}
.w6 {
  grid-column-end: span 6;
  position: relative;
}

.l1{
  grid-row-end: span 1;
  min-height: 12.5vw;
}
.l2{
  grid-row-end: span 2;
  min-height: 25vw;
}
.l3{
  grid-row-end: span 3;
}
.l4{
  grid-row-end: span 4;
}
.l5{
  grid-row-end: span 5;
}
.l6{
  grid-row-end: span 6;
}

.w-smaller{
  width: 90%;
  height: 90%;
  margin: 5%;
}

/* other */
.flex {
  display: flex;
  flex-wrap: wrap;
  &.space-between {
    justify-content: space-between;
  }
}

.align-bottom{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-bg{
  background-color: var(--white);
  padding: 1vw;
  /* margin-top: -1vw; */
}

.black-bg{
  background-color: var(--black);
  & img{
    object-fit: contain!important;
  }
}

.blue-bg{
  background-color: var(--primary);
  padding: 1vw;
  color: var(--white);
  & a {
    color: var(--white);
  }
}

.tickets{
  padding: 10px 3vw;
  margin: auto 0 auto auto;
  font-size: var(--h3);
  border: 2px solid var(--black);
  border-radius: 5px;
}

.ticket-overflow{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -11vw;
  transform: translateY(-50%);
}

.month{
  position: absolute;
  right: 43vw;
  top: 40%;
  transform: rotate(90deg) translateY(-50%);
  padding: 5px;
}

.digitalarena{
  background: var(--black);
  color: var(--white);
  & a{
    color: var(--white);
  }
  & .navbar{
    background: var(--black);
  }
  & .grid{
    & .item{
      border-color: var(--white);
      position: relative;
    }
  }
  & .align-bottom{
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

  }
  & .main{
    width: 80%;
  }
  & .toggle {
    cursor: pointer;
    width: 40px;
    height: 60px;
    mask-image: url('/triangle.svg');
    mask-repeat: no-repeat;
    background-color: var(--primary);
    mask-size: contain;
    transform: rotate(90deg);
    margin-right: 5px;
  }
  & .hidden-info{
    position: absolute;
    overflow-y: scroll;
    top: 0;
    background-color: var(--black);
    height: calc(100% - 48px);
    padding: 24px 24px 24px 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    &.active{
      visibility: visible;
      opacity: 1;
    }
  }
}

.read-more{
  font-size: var(--h2);
  font-weight: 100;
  padding-left: 65px;
  &:before{
    content: " ";
    position: absolute;
    width: 50px;
    height: 40px;
    left: 14px;
    mask-image: url('/arrow.svg');
    mask-repeat: no-repeat;
    background-color: var(--white);
    mask-size: contain;
    mask-position: center;
  }
}

.view-all{
  font-size: var(--h1);
  font-weight: 100;
  background: var(--primary);
  border-radius: 100px;
  padding: 2vw;
  padding-left: 10vw;
  position: relative;
  &:before{
    content: " ";
    position: absolute;
    width: 10vw;
    min-width: 80px;
    height: 5vw;
    min-height: 50px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    mask-image: url('/arrow2.svg');
    mask-repeat: no-repeat;
    background-color: var(--black);
    mask-size: contain;
    mask-position: center;
  }
}


.columns{
  column-count: 2;
}

.offset{
  margin-top: auto;
  height: auto;
}

.padding-right{
  padding-right: 8vw;
  word-break: break-word;
}

.no-padding{
  margin: -1vw;
}

.no-inner-padding{
  padding: 0!important;
}

.search-icon{
  position: relative;
  width: 100px;
  margin-right: 40px;
  height: 50px;
  -webkit-mask-image: url('/search.svg');
  mask-image: url('/search.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
  mask-position: right;
   -webkit-mask-position: right;
  background-color: var(--primary);
}

.search-bar{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 90%;
  margin: 5%;
  & input{
    border: none;
    font-size: var(--h1);
    width: 90%;
    text-transform: capitalize;
  }
  & img{
    height: 50px;
  }
}

.artist{
  filter: grayscale(1);
}

.ReactModal__Overlay{
  z-index: 999;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  & .navbar{
    top: 20vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .nav-items{
      min-height: 35vh;
    }
  }
  & .search-icon{
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100px;
  }
}

.festival.ReactModal__Body--open{
  & .navbar {
    & .nav-items {
      & a span{
      color: var(--primary);
      }
    }
  }
}

/* Festival */
.festival{
  background-color: var(--primary);
  & .homebutton {
    background-color: var(--white);
  }
  & .open-menu{
    background-color: var(--white);
  }
  & .navbar {
    background-color: var(--primary);
    & .nav-items {
      & a span{
      color: var(--white);
      }
    }
  }
  & .search-icon{
    background-color: var(--white);
  }
  & footer, & footer a{
     color: var(--white);
  }
}

/* Menu */
.open-menu{
  width: 40px;
  height: 40px;
  -webkit-mask-image: url('/menu-icon.svg');
  mask-image: url('/menu-icon.svg');
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
  background-color: var(--primary);
  margin-right: 2vw;
  cursor: pointer;
}

.close-menu{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: 50px;
  color: var(--primary);
  cursor: pointer;
}

/* From styles.scss */

body {
  margin: 0;
}

.center {
  display: block;
  margin: auto;
}

.nav-space{
  height: 85px;
  width: 100%;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: var(--white);
  z-index: 3;
  top: 0;

  & .nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75vw;
    max-width: 1000px;
    padding: 14px 0;

    & a {
      & span {
        color: var(--primary);
      }

      font-size: var(--h2);
      text-decoration: none;

      &:hover {
        text-decoration: line-through;
        color: var(--black);
      }
    }
  }
}

.homebutton {
  margin-left: 24px;
  width: 120px;
  height: 80px;
  -webkit-mask-image: url('/homebutton.png');
  mask-image: url('/homebutton.png');
  background-color: var(--primary);
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
}

.container {
  display: flex;
  justify-content: center;
  min-height: 150px;
}

.overflow{
  & .img-wrapper{
    margin-left: -8vw;
    width: calc(100% + 8vw);
  }
  & .flex{
    margin-left: -8vw;
    width: calc(100% + 6vw);
  }
}

.img-wrapper{
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  & img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video{
  & div{
    width: 100%;
    height: 100%;
  }
  & iframe{
    width: 100%;
    height: 100%;
  }
}

.video-wrapper{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  & iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.grid {
  width: 75vw;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.6667%, 6fr));
  grid-gap: 0px;
  grid-auto-rows: repeat(auto-fill, minmax(10%, 6fr));
  margin: -2px;
  position: relative;

  & .item {
    border: 1px solid black;
    position: relative;
    &.no-border{
      border: none;
    }
    overflow: visible;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* padding: 1vw; */
    object-fit: cover;

    &.w6{
      padding-top: 0;
      padding-right: 0;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & h3{
      padding-top: 5px;
    }

    & .info {
      word-wrap: break-word;
      width: 50%;
    }
  }
}

.header-img{
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  & img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.ticket{
  display: flex;
  justify-content: space-between;
  padding: 14px!important;
}

.program-day{
  border-bottom: 1px solid black;
}

.prev-button{
  cursor: pointer;
  width: 40px;
  height: 60px;
  position: fixed;
  left: 4vw;
  top: 48vh;
  mask-image: url('/triangle.svg');
  mask-repeat: no-repeat;
  background-color: var(--primary);
  mask-size: contain;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.next-button{
  cursor: pointer;
  width: 40px;
  height: 60px;
  position: fixed;
  right: 4vw;
  top: 48vh;
  mask-image: url('/triangle.svg');
  mask-repeat: no-repeat;
  background-color: var(--primary);
  mask-size: contain;
}

iframe{
  border: none;
}

footer{
  font-size: var(--h2);
  color: var(--primary);
  & a{
    color: var(--primary);
    margin-left: 24px;
  }
  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
  }
}

.info-block{
  padding: 14px 1vw;
}

.grid .item.button{
  display: flex;
  align-items: center;
  justify-content: center;
}